@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.calc__period js-converter-period {

}
body {
  font-family: roboto;
  
  margin: 0;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  min-width: 320px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
header {
  background-color: #F5F5F6;
  height: 50px;
  margin: 0px;
  padding: 9px 0px 8px 0px;
  width: 100%;
  display: flex;
  align-items: center;
text-align: center;
  justify-content: space-evenly;
}

.logo {
    width: 89px;
}
.section {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: center;
letter-spacing: 0.06em;
color: #959BA4;
}

.section-name {
    padding: 0px 13px 0px 13px;
}

.section-name:hover {
    color: #000000;
}

.enter-button{
    border: none;
    background: #FFFFFF;
border-radius: 4px;
    width: 58px;
height: 33px;
font-weight: 500;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}

.m-table-cell {
    display: table-cell;
  }
  .m-center-block {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
  }
  .m-center-block-invisible {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    height: 100%;
    width: 0;
  }
  a,
  abbr,
  acronym,
  address,
  applet,
  article,
  aside,
  audio,
  b,
  big,
  blockquote,
  body,
  canvas,
  caption,
  center,
  cite,
  code,
  dd,
  del,
  details,
  dfn,
  div,
  dl,
  dt,
  em,
  embed,
  fieldset,
  figcaption,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hgroup,
  html,
  i,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  mark,
  menu,
  nav,
  object,
  ol,
  output,
  p,
  pre,
  q,
  ruby,
  s,
  samp,
  section,
  small,
  span,
  strike,
  strong,
  sub,
  summary,
  sup,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  time,
  tr,
  tt,
  u,
  ul,
  var,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:after,
  blockquote:before,
  q:after,
  q:before {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  *,
  :after,
  :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: #222;
  }
  a[href] {
    cursor: pointer;
    outline: 0;
    text-decoration: none;
  }
  
  html {
    min-height: 100%;
    font-size: 100.01%;
    overflow-y: scroll;
    background: #fff;
  }
  body {
    position: relative;
    min-height: 100%;
    margin: 0;
    font-family: GraphikCy, "Helvetica CY", Arial, sans-serif;
    font-size: 14px;
    color: #222;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
   input {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    
    color: #000000;
   }
  .calc {
    margin: 35px auto 45px;
  }
  .calc__box {
    width: 930px;
    margin: 0 auto;
    position: relative;
  }
 
  .calc__side {
    width: 405px;
    display: inline-block;
    vertical-align: top;
  }
  
  .calc__title {
    font-size: 16px;
    color: #777;
    margin: 10px 0;
  }
  .calc__switcher {
    overflow: hidden;
  }
  li {
    width: 65.06px;
    height: 30px;
    padding: 12px 0;
    text-transform: uppercase;
    cursor: pointer;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    float: left;
    text-align: center;
    position: relative;
  }
  li:hover:not(.active) {
    opacity: 0.8;
  }
  li:first-child {
    border-left: 1px solid #cdcdcd;
    border-radius: 3px 0 0 3px;
  }
  li:last-child {
    width: 65px;
    border-radius: 0 3px 3px 0;
  }
  
  li.active {
    color: #fff;
    background-color: #833AE0;
  }
  
  .calc__input_box {
    width: 259px;
    height: 102px;
    margin: 24px 0;
    padding: 30px 20px 15px;
    border: 1px solid #cdcdcd;
  }
  .calc__input_box__to {
    width: 100%;
    height: 46px;
    font-size: 44px;
    margin-bottom: 30px;
    outline: 0;
    border: none;
    font-family: GraphikCy-Semibold, "Helvetica CY", Arial, sans-serif;
    border-radius: 4px;
  }
  .calc__input_box__from {
    width: 100%;
    height: 46px;
    font-size: 44px;
    margin-bottom: 30px;
    outline: 0;
    border: none;
    font-family: GraphikCy-Semibold, "Helvetica CY", Arial, sans-serif;
    border-radius: 4px;
  }
  .calc__from__rate {
    width: 100%;
    height: 14px;
    text-transform: uppercase;
    color: #777;
  }
  .calc__to__rate {
    width: 100%;
    height: 14px;
    text-transform: uppercase;
    color: #777;
  }
  .title{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
color: #000000;
  }

  